/*OURTIME CSS */
/*End OURTIME css*/
/* Home Page Carousel */
/* 404 Page Styles */
/*---------- Search Box in Header ----------*/
/*---------- End of Search Box in Header ----------*/
/* .mainnavbtn{
		 font-size:13px;
	}
	 */
	 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
	 padding-top:80px;
	 font-family: 'Roboto', sans-serif!important;
	 height:100%;
	 overflow-x: hidden;
}

.sr-only {
	color: #000 !important;
	background-color: #fff !important;
}
.gsc-control-cse {
	border-color: #fff !important;
	background-color: #fff !important;
}
.gs-bg-transparent {
	.gsc-control-cse {
		border-color: transparent !important;
		background-color: transparent !important;
	}
}
.embed-responsive {
	width: 100% !important;
}
.navbar {
	padding: .1rem 1rem !important;
	background: #003399;
}
.nav-pills {
	li {
		a {
			border-radius: unset !important;
		}
	}
}
.navbar-toggler {
	padding: 0px !important;
	line-height: inherit !important;
}
#default {
	img {
		max-width: 100%;
		height: auto;
		padding: 1rem 0rem 1rem 0rem;
		transition: box-shadow .5s ease;
	}
	a {
		>img {
			&:hover {
				box-shadow: rgba(0, 0, 0, 0.22) 0px 25.6px 57.6px 0px, rgba(0, 0, 0, 0.18) 0px 4.8px 14.4px 0px;
			}
		}
	}
}
.hide {
	display: none !important;
}
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
	&::before {
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
	}
}
.card-header {
	.accordion-btn {
		&:before {
			font-family: "Font Awesome 5 Pro";
			font-weight: 600;
			content: "\f139";
			float: left;
			transition-duration: 400ms;
		}
	}
	.accordion-btn.collapsed {
		&:before {
			font-family: "Font Awesome 5 Pro";
			font-weight: 300;
			transform: rotate(180deg);
			content: "\f139";
			float: left;
		}
	}
}
.small-text {
	font-size: 0.75rem;
}
h2 {
	font-size: 1.75rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.25rem;
}
h5 {
	font-size: 1rem;
}
.dept-sublinks {
	border-bottom: 1px solid rgba(0,0,0,.2) !important;
	a {
		color: #003370 !important;
		margin-top: 1px;
		border-bottom-left-radius: 0px !important;
		border-bottom-right-radius: 0px !important;
	}
}
.sticky-dept-sublinks {
	top: 76px !important;
	z-index: 3 !important;
	background-color: #fff;
}
.sticky-search {
	top: 77px !important;
	z-index: 4 !important;
	background-color: white;
}
.gsc-results-wrapper-overlay {
	top: 150px !important;
}
.gsc-container {
	background: transparent !important;
}
#living {
	h1 {
		font-weight: bold;
		padding-left: 50px;
		padding-top: 20px;
		padding-bottom: 1rem;
		font-size: 2.5vw;
		color: #003399;
	}
}
.feature {
	h1 {
		font-weight: bold;
		padding-left: 50px;
		padding-top: 20px;
		font-size: 2.5vw;
		color: #003399;
	}
	margin-right: 15px;
	margin-left: 15px;
	h2 {
		color: #fff;
		font-weight: bold;
		font-size: 20px;
		padding-top: 10px;
	}
}
.campliv {
	h2 {
		font-weight: bold;
		padding-bottom: 1rem;
		font-size: 2.5vw;
		color: #003399;
	}
	p {
		font-size: 1.5vw;
	}
}
.stats {
	p {
		font-size: 1.5vw;
		color: #003399;
	}
	background: #fcc10f;
	h1 {
		font-weight: bold;
		font-size: 2.5vw;
		color: #003399;
	}
}
.breadcrumbs {
	color: #555858;
	padding: 10px 2px;
	a {
		color: #0054aa !important;
		text-decoration: underline;
		&:hover {
			color: #003399 !important;
			outline: 1px dotted blue;
		}
		&:focus {
			color: #003399 !important;
			outline: 1px dotted blue;
		}
	}
}
.mini-img-bnr {
	object-fit: cover;
	position: relative;
	height: 125px;
	background-color: #003399;
	img {
		width: 100%;
		max-height: 150px;
		display: block;
	}
	h1 {
		color: white !important;
	}
	h2 {
		color: white !important;
	}
}
.mini-img-caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	color: white;
	font-weight: bold;
}
.carousel-item {
	height: 50vh;
	background-size: cover;
}
.carousel-img {
	background-position: center;
	object-fit: cover;
}
.carousel-caption {
	position: absolute;
	bottom: -10px;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	width: 100%;
	left: 0;
}
.foot_ourtime {
	background-color: #003399;
}
.ourtime_ftr {
	background-color: #003399;
	padding: 10px;
}
#lrnmoremail_ftr {
	text-align: center;
	font-size: 18px;
	padding-top: 5px;
	padding-bottom: 15px;
	color: #fcc10f;
	a {
		color: #fcc10f !important;
	}
}
#scndtowerlogo_ftr {
	display: inline-block;
	text-align: right;
	width: 49%;
	background-color: #003399;
	color: #fcc10f;
	a {
		color: #fcc10f !important;
	}
	p {
		color: #fcc10f;
	}
}
#systemlogo_ftr {
	display: inline-block;
	text-align: right;
	width: 49%;
	a {
		color: #fcc10f !important;
	}
}
#campusinfo_ftr {
	display: inline-block;
	float: right;
	width: 49%;
	a {
		margin: 0;
		color: #FCC10F !important;
	}
	h5 {
		color: #fcc10f;
	}
}
#socialbuttons_ftr {
	padding: 5px 15px 5px 15px;
}
.living {
	background-color: #fcc10f;
	border: 1px solid #fcc10f;
}
.navbar-collapse.collapse.in {
	display: block !important;
}
.feature-link {
	padding: 0 5px;
	a {
		text-align: center;
		color: #fff !important;
		&:hover {
			color: #fcc10f !important;
		}
	}
}
.bgimg {
	width: 100%;
}
.goldline {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background: #fcc10f;
	height: 5px;
}
.whiteline {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background: #fff;
	height: 3px;
}
.top-sub-navigation {
	background-color: #fff;
}
.topsubnav {
	.dropdown-item {
		color: #003399 !important;
		&:hover {
			background: #007bff33;
		}
	}
}
.top-sub-nav-block {
	line-height: 1.5 !important;
}
.brand {
	width: 300px;
}
.headicon {
	margin: 0px 20px 0px 20px;
}
.mainnavbtn {
	text-align: center;
}
.mainbtn {
	color: #fff !important;
	&:hover {
		color: #039 !important;
	}
	a {
		&:focus {
			color: white !important;
		}
	}
}
.subnav {
	background-color: #fff;
}
header.carousel {
	height: 65%;
	.item {
		height: 100%;
	}
	.item.active {
		height: 100%;
	}
	.carousel-inner {
		height: 100%;
	}
	.fill {
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
	}
}
.bottomnav {
	background: white;
	font-weight: 400;
}
.nav-link {
	&:hover {
		background: #fcc10f;
	}
}
.nav {
	>li {
		>a {
			display: inline-block;
			color: #003399;
		}
	}
}
.center {
	margin: auto;
	width: 60%;
	padding: 10px;
	margin: auto;
	width: 60%;
	padding: 10px;
}
.center-text {
	text-align: center;
	text-align: center;
}
.gold-text {
	color: #fcc10f;
	color: #fcc10f;
}
.statbtn {
	color: #003370;
	font-weight: bold;
	display: table;
	margin: 20px auto;
	p {
		text-shadow: 1px 1px grey;
		vertical-align: middle;
		display: table-cell;
		font-size: 60px;
	}
	h1 {
		text-shadow: 1px 1px grey;
		vertical-align: middle;
		display: table-cell;
	}
}
.stat-block {
	text-align: center;
	vertical-align: middle;
}
.image-background-block {
	position: absolute;
	bottom: 5vh;
	right: 2vw;
	background: rgb(0, 45,146);
	width: 325px;
	height: 100px;
	mix-blend-mode: multiply;
}
.image-text-block {
	position: absolute;
	bottom: 2%;
	display: block;
	right: 0;
	left: 0;
	text-align: center;
	background: rgba(0, 51, 153, 0.7);
	color: white;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	p {
		margin-bottom: 0.5rem;
		line-height: 1;
		color: #d1d2d4;
	}
	h1 {
		margin-bottom: 0.5rem;
		line-height: 1;
	}
	h2 {
		font-size: 1.5rem;
	}
}
.video-text-block {
	h4 {
		margin-bottom: 0.5rem;
		line-height: 1;
		color: white;
		padding-top: 5px;
		&:hover {
			color: #fcc10f;
		}
	}
	h1 {
		margin-bottom: 0.5rem;
		line-height: 1;
		color: white;
	}
	h2 {
		margin-bottom: 0.5rem;
		line-height: 1;
		color: white;
	}
	position: absolute;
	bottom: 2vw;
	left: 0;
	background: rgba(0, 51, 153, 0.7);
	color: white !important;
	padding-left: 15px;
	padding-right: 15px;
	border-right: 6px solid #fcc10f;
}
.carousel-text-block {
	border-radius: 15px;
	bottom: 2vw;
	background: rgba(0,0,0, 0.7);
	color: #fff !important;
}
.image-text-left {
	&:hover {
		content: 'Be A Javelina';
		span {
			display: none;
		}
		&:before {
			content: "Apply Now!";
		}
	}
}
.image-text-right {
	&:hover {
		content: 'Around Javelina Nation';
		span {
			display: none;
		}
		&:before {
			content: "Read Latest AJN";
		}
	}
}
.block-jt {
	width: 100%;
	max-height: 20vh;
	margin: 5px 0 5px 0;
	object-fit: cover;
	object-position: 50% 20%;
}
.videobnr {
	background-size: cover;
	width: 100%;
	color: #fff;
}
video {
	position: relative !important;
}
.underline {
	display: block;
	border: none;
	color: #fff;
	height: 1px;
	margin-bottom: 5px;
	background: #000;
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#ffd), to(#003399));
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}
.accordion {
	.card-header {
		padding: 0px !important;
		overflow: auto;
	}
	>.card {
		border: 0px !important;
	}
}
.accordion-btn {
	color: #003370 !important;
	width: 100%;
	font-weight: bold !important;
	text-align: left !important;
	white-space: normal !important;
	span {
		padding-left: 8px !important;
	}
	span.badge {
		padding: .25em .4em !important;
		position: absolute;
		right: 2px;
		top: 10px;
		border-top-left-radius: unset;
		border-bottom-right-radius: unset;
	}
}
.accordion-btn-Blue {
	color: #fff !important;
}
.accordion-btn-TerraCotta {
	color: #fff !important;
}
.accordion-btn-White {
	color: #003370 !important;
}
.Gold {
	background-color: rgb(252,193,15) !important;
	border: 1px solid rgba(0,0,0,.2) !important;
	border-radius: .3rem !important;
	margin: 2px !important;
}
.Blue {
	background-color: #003370 !important;
	border: 1px solid rgba(209,211,212,1) !important;
	border-radius: .3rem !important;
	margin: 2px !important;
}
.White {
	border: 1px solid rgba(0,0,0,.2) !important;
	border-radius: .3rem !important;
	margin: 2px !important;
}
.TerraCotta {
	background-color: #AF001D !important;
	border: 1px solid rgba(209,211,212,1) !important;
	border-radius: .3rem !important;
	margin: 2px !important;
}
.Transparent {
	background-color: white !important;
	border: 0px !important;
	margin: 0px !important;
}
.staff-profile-info-container {
	h2 {
		font-size: 1.5rem !important;
	}
}
#socmed {
	align-items: center;
	justify-content: center;
	align-self: center;
	a {
		color: #ffffff !important;
		&:hover {
			a {
				&:focus {
					color: #fcc10f !important;
				}
			}
		}
	}
}
.mainfooter {
	bottom: 0;
	display: block;
	float: left;
	height: 75px;
	text-align: left;
	color: #003370;
	width: 100%;
}
.btn-outline-warning {
	border-color: #003399 !important;
}
.footer1 {
	a {
		color: #fff !important;
	}
}
.footer-pdf {
	display: none;
	a {
		text-decoration: underline;
		color: #00e !important;
	}
}
.footer_left {
	background: #fcc10f;
	text-align: center;
	img {
		max-width: 250px;
	}
	hr {
		max-width: 250px;
		text-decoration-color: #006bb6;
	}
}
.footer_mid {
	background: #0064d2;
	color: #ffffff;
	a {
		color: #ffffff !important;
		&:hover {
			a {
				&:focus {
					color: #fcc10f !important;
				}
			}
		}
	}
	li {
		margin: 5px 5px 10px 10%;
		padding-top: 7px;
		color: #ffffff;
	}
}
.footer_right {
	background: #003377;
	a {
		color: #ffffff !important;
		&:hover {
			color: #fcc10f !important;
		}
	}
	p {
		color: #ffffff;
	}
}
.footer_bottom {
	background: #555858;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	p {
		color: #d1d3d4 !important;
	}
	a {
		color: #d1d3d4 !important;
		text-decoration: underline;
		&:hover {
			color: #ffffff !important;
			outline: 1px dotted white;
		}
		&:focus {
			color: #ffffff !important;
			outline: 1px dotted white;
		}
	}
}
.footer {
	p {
		margin: 0px;
		padding: 0px;
	}
}
.footer_mob {
	text-align: center;
	align-content: center;
	background: #003399;
}
.footer_content {
	padding-top: 10px;
	padding-bottom: 10px;
}
.mainfooterbtn {
	width: 30%;
	a {
		color: #fcc10f !important;
		&:hover {
			a {
				&:active {
					a {
						&:focus {
							color: #003399 !important;
						}
					}
				}
			}
		}
	}
}
.main_content {
	* {
		word-wrap: break-word;
	}
	padding-right: 20px;
	padding-bottom: 20px;
	border-left: 1px solid #ccc;
	.accordion {
		.card {
			padding: .5rem 0;
		}
	}
	a {
		text-decoration: underline;
		color: #0046D1;
		&:focus {
			border: 1px solid #000;
		}
		&:hover {
			outline: 1px dotted blue;
		}
	}
}
.standard-btn-gold {
	color: #003370 !important;
	background-color: #fcc10f;
	text-decoration: none !important;
	width: 250px;
	margin: 5px;
	white-space: normal !important;
	height: 100%;
	box-shadow: 0px 0px 2px 0px #003370;
	&:hover {
		color: #fcc10f !important;
		background-color: #003370;
		outline: none !important;
		box-shadow: 0px 0px 5px 1px #00000088;
		transition: .3s ease-in-out;
	}
	&:active {
		box-shadow: inset 0px 0px 0px 1px #003370 !important;
		transition: .3s ease;
	}
}
.standard-btn-blue {
	color: #fcc10f !important;
	background-color: #003370;
	text-decoration: none !important;
	width: 250px;
	margin: 5px;
	white-space: normal !important;
	height: 100%;
	&:hover {
		color: #003370 !important;
		outline: none !important;
		background-color: #fcc10f;
		box-shadow: 0px 0px 5px 1px #00339955;
		transition: .3s ease-in-out;
	}
	&:active {
		box-shadow: inset 0px 0px 0px 1px #00339955 !important;
		transition: .3s ease;
	}
}
.standard-btn-blue.btn-popover {
	width: unset !important;
}
.standard-btn-gold.btn-popover {
	width: unset !important;
}
.header-text {
	position: absolute;
	top: 20%;
	left: 1.8%;
	right: auto;
	width: 96.66666666666666%;
	color: #fff;
	h2 {
		font-size: 40px;
		span {
			background-color: #2980b9;
			padding: 10px;
		}
	}
	h3 {
		span {
			background-color: #000;
			padding: 15px;
		}
	}
}
.testimonial-text-block {
	position: absolute;
	bottom: 30px;
	right: 30px;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 25px;
	p {
		line-height: 1.5;
	}
}
.btn-min-block {
	min-width: 170px;
	line-height: 26px;
}
.btn-theme {
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
	margin-right: 15px;
	&:hover {
		color: #000;
		background-color: #fff;
		border-color: #fff;
	}
}
#rightrail {
	clear: both;
	float: left;
	padding: 0px 5px 0px 0px;
	margin-left: 0;
	width: 100%;
	display: block;
	li {
		list-style: none;
		padding: 8px 0 8px 5px;
	}
}
#foo2 {
	display: none;
}
.foo2 {
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	float: left;
	width: 100%;
	background: #036;
	cursor: pointer;
	padding: 2px;
	border-top: 1px solid #369;
	border-bottom: 1px solid #003;
	border-left: 1px;
	border-right: 1px;
	color: #FFF;
}
#accordian-list {
	clear: none;
	float: right;
	width: 100%;
	display: block;
}
#accordian-list_small {
	clear: none;
	float: right;
	width: 75%;
	display: block;
}
#navrail {
	clear: both;
	float: right;
	margin-left: 0;
	width: 100%;
	display: block;
}
#MenuBar2 {
	a {
		color: #003370 !important;
		padding-left: 2px;
	}
	li {
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
}
#navmobile {
	li {
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
}
#mobnav {
	li {
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
}
.current-nav-link {
	background-color: #f9f9f6;
	font-weight: bold;
	border-radius: 3px;
	pointer-events: none;
	cursor: default;
}
.cf {
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	zoom: 1;
}
.form-wrapper {
	margin: 5px auto;
	width: 50%;
	padding: 5px;
	background: #003399;
	background: rgba(0,0,0,.2);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
	box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
	input {
		width: 70%;
		height: 40px;
		padding: 10px 5px;
		float: left;
		font: bold 25px 'lucida sans', 'trebuchet MS', 'Tahoma';
		border: 0;
		background: #eee;
		-moz-border-radius: 3px 0 0 3px;
		-webkit-border-radius: 3px 0 0 3px;
		border-radius: 3px 0 0 3px;
		&:focus {
			outline: 0;
			background: #fff;
			-moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
			-webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
			box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
		}
		&::-webkit-input-placeholder {
			color: #999;
			font-weight: normal;
			font-style: italic;
		}
		&:-moz-placeholder {
			color: #999;
			font-weight: normal;
			font-style: italic;
		}
		&:-ms-input-placeholder {
			color: #999;
			font-weight: normal;
			font-style: italic;
		}
	}
	button {
		overflow: visible;
		position: relative;
		float: left;
		border: 0;
		padding: 0;
		cursor: pointer;
		height: 40px;
		width: 30%;
		color: #fff;
		text-transform: uppercase;
		background: #003399;
		-moz-border-radius: 0 3px 3px 0;
		-webkit-border-radius: 0 3px 3px 0;
		border-radius: 0 3px 3px 0;
		text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
		&:hover {
			background: #e0b10e;
			&:before {
				border-right-color: #e0b10e;
			}
		}
		&:active {
			background: #c42f2f;
		}
		&:focus {
			background: #c42f2f;
			&:before {
				border-right-color: #e0b10e;
			}
		}
		&:before {
			content: '';
			position: absolute;
			border-width: 8px 8px 8px 0;
			border-style: solid solid solid none;
			border-color: transparent #003399 transparent;
			top: 12px;
			left: -6px;
		}
		&::-moz-focus-inner {
			border: 0;
			padding: 0;
		}
	}
}
@media screen and (max-width:500px) {
	.image-text-block {
		h2 {
			font-size: 1rem !important;
		}
	}
}
@media screen and (max-width:767px) {
	.blockContainer {
		.feature-row {
			.col-lg-6 {
				padding: 0px;
				margin: 0px;
			}
		}
	}
	.block-jt {
		margin: 0px 0px 5px 0px;
	}
}
@media (max-width: 991.98px) {
	.deptsubnav {
		font-size: 12px !important;
	}
	.topsubnav {
		a {
			font-size: 12px !important;
		}
	}
}
@media (max-width: 767px) {
	body {
		padding-top: 110px;
		height: 100%;
		overflow-x: hidden;
	}
	.carousel-item {
		height: 40vh;
		background-size: cover;
	}
	.mini-img-bnr {
		img {
			width: 100%;
			height: 150px;
			display: block;
		}
		h1 {
			font-size: 1.5rem !important;
		}
		h2 {
			font-size: 1.25rem !important;
		}
	}
	.goldline {
		clear: both;
		float: left;
		margin-left: 0;
		width: 100%;
		display: block;
		background: #fcc10f;
		height: 3px;
	}
	.carousel-text-block {
		font-size: 3vh;
		color: #fff !important;
	}
	.headicon {
		color: #fcc10f;
		margin: 0px 20px 0px 20px;
		font-size: 3vw;
	}
	.feature {
		h1 {
			padding: 20px 0 0 0;
			font-size: 5vh;
			text-align: center;
		}
	}
	#living {
		h1 {
			padding: 0px;
			font-size: 5vh;
			text-align: center;
		}
	}
	.campliv {
		h2 {
			padding: 0px;
			font-size: 5vh;
			text-align: center;
		}
		p {
			padding: 5px;
			font-size: 2.5vh;
			text-align: center;
		}
	}
	.stats {
		h1 {
			padding: 0px;
			font-size: 5vh;
			text-align: center;
		}
		p {
			padding: 5px;
			font-size: 2.5vh;
			text-align: center;
		}
	}
	.brand {
		margin-left: auto;
		margin-right: auto !important;
	}
	.navbar {
		padding: 0px !important;
	}
	.navbar-toggler {
		padding: 0px;
		color: #003399;
	}
	.mainnav {
		padding: 0;
	}
	.topnav {
		a {
			padding: 0px;
		}
	}
	#lrnmoremail_ftr {
		text-align: center;
		font-size: 12px;
		padding-top: 5px;
		padding-bottom: 15px;
		width: 100%;
		color: #fcc10f;
	}
	#scndtowerlogo_ftr {
		display: inline-block;
		text-align: center;
		width: 100%;
	}
	#systemlogo_ftr {
		display: inline-block;
		text-align: center;
		float: left;
		color: #fcc10f;
		width: 100%;
	}
	.ourtime_ftr {
		background-color: #003399;
		padding: 10px;
		background-color: #003399;
	}
	#campusinfo_ftr {
		display: inline-block;
		text-align: center;
		float: right;
		font-size: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		width: 100%;
		background-color: #003399;
		a {
			text-decoration: none;
			font-size: 12px;
			font-weight: lighter;
			margin: 0;
			color: #fcc10f !important;
			text-align: center;
		}
	}
	#socialbuttons_ftr {
		display: inline-block;
		text-align: center;
		font-size: 18px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	#rightrail {
		clear: none;
		float: right;
		width: 25%;
		max-width: 225px;
		display: block;
		position: relative;
		z-index: 1;
		overflow-x: hidden;
		clear: both;
		float: left;
		margin-left: 0;
		width: 100%;
		display: block;
		clear: both;
		float: left;
		margin-left: 0;
		width: 100%;
		display: block;
		li {
			list-style: none;
		}
	}
	header.carousel {
		.carousel {
			height: 70%;
		}
	}
	.foo {
		display: none;
		font-size: 16px;
		text-align: center;
		font-weight: bold;
		float: left;
		width: 100%;
		background: #036;
		cursor: pointer;
		padding: 2px;
		border-top: 1px solid #369;
		border-bottom: 1px solid #003;
		border-left: 1px;
		border-right: 1px;
		color: #FFF;
	}
	#Options {
		font-size: 16px;
		text-align: center;
		font-weight: bold;
		float: left;
		width: 100%;
		max-width: 780px;
		ul {
			margin: 0;
			display: inline;
			li {
				background: #036;
				cursor: pointer;
				list-style-type: none;
				padding: 2px;
				border-top: 1px solid #369;
				border-bottom: 1px solid #003;
				width: 100%;
			}
		}
	}
	.Options {
		a {
			color: #FFF !important;
			text-decoration: underline;
			&:hover {
				a {
					&:focus {
						color: #FC0 !important;
					}
				}
			}
		}
	}
	#foo {
		display: none;
	}
	#accordian-list {
		clear: both;
		float: left;
		margin-left: 0;
		width: 100%;
		display: none;
	}
	#navrail {
		clear: both;
		float: left;
		margin-left: 0;
		width: 100%;
		display: block;
	}
}
@media (max-width: 575.98px) {
	body {
		padding-top: 104px;
		height: 100%;
		overflow-x: hidden;
	}
	.sticky-search {
		top: 104px !important;
		z-index: 4 !important;
	}
	.brand {
		width: 300px;
	}
	a.ot-toggler {
		height: 20px;
	}
	.carousel-item {
		height: 30vh;
		background-size: cover;
	}
	.mainbtn {
		padding: 0px .5rem !important;
	}
	h1 {
		font-size: 1.75rem !important;
	}
	h2 {
		font-size: 1.2rem !important;
	}
	h3 {
		font-size: 1.25rem;
	}
	h4 {
		font-size: 1rem;
	}
	h5 {
		font-size: 1rem;
	}
	.image-text-block {
		h1 {
			font-size: 1.5rem !important;
		}
	}
	.staff-profile-mobile-container {
		margin-top: -15px !important;
		margin-bottom: 20px;
	}
	.staff-profile-info-container {
		margin-bottom: 0px;
		word-break: break-word;
	}
	.mini-img-bnr {
		img {
			width: 100%;
			height: 125px;
			display: block;
		}
		h1 {
			font-size: 1.25rem !important;
		}
		h2 {
			font-size: 1rem !important;
		}
	}
}
